.form {
    display: flex;
    flex-direction: column;
}

.form__container {
    display: flex;
    flex-direction: column;
}

.form__container input, textarea {
    margin-bottom: 15px;
}
.form__container button {
    max-width: 200px;
}
.form__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
.form__result {
    font-size: 16px;
    font-weight: bold;
}
form button {
    margin-bottom: 10px;
}
